.Main{
  height: 100vh;
/*  padding: 2rem;*/
  color: white;
  cursor: pointer;
  font-family: 'Trirong';
  transition-property: 'backgroundColor';
  transition-duration: 1s;
  filter: saturate(.5);
}


.center{

  width:100%;
  display:flex;
  justify-content: center;
  padding: 200px 15px 0 15px;
  font-size: 1.5rem;
}
